


*{margin:0;padding:0}
#a {font-size: 5.4ex;}
#b {color: brown;
	font-size: 4.5ex;}

#c {color: brown;
	font-size: 4.5ex;}
#f {color: brown;
	font-size: 4.5ex;}
#h {color: brown;
	font-size: 4.5ex;}
#j {color: brown;
    font-size: 4.5ex;}
	







#d {font-size: 3ex;}
#e {font-size: 3ex;}
#g {font-size: 3ex;}
#i {font-size: 3ex;}
#k {font-size: 3ex;}
#o {font-size: 3ex;
	color: brown;}
#m {font-size: 3.5ex;
	color: brown;}
#l {font-size: 3.5ex;
	color: brown;}
#n {font-size: 3.5ex;
	color: brown;}
#p {font-size: 3.5ex;
	color: brown;}


#q {font-size: 2.5ex;}
#r {font-size: 2.5ex;}
#s {font-size: 2.5ex;}
#t {font-size: 2.5ex;}
#u {font-size: 2.5ex;}





div#header{
	
	padding:0 0 0 0%;
	background: #00ffff;
    color: #000000;
	
}


div#content{
	
	width: 83%;			
	height: 2800px;		
	padding: 0 0 0 2%;
	background: #F3FA78;
	float: right;		
	
}


div#navi{
	
	width: 13%;			
	height: 2800px;		
	padding: 0 0 0 2%;	
	background: #B9CAFF;
	float: left;		
	font-size:2.2ex;
}


div#footer{
	
	padding: 0 0 0 2%;
	background:#2ABBBB;	
	clear: both;		
}