


*{margin:0;padding:0}
#a {font-size: 5.4ex;}
#b {color: brown;
	font-size: 4ex;}
#c {color: brown;
	font-size: 4ex;}
#f {color: brown;
	font-size: 4ex;}
#h {color: brown;
	font-size: 4ex;}
#j {color: brown;
    font-size: 4ex;}
	







#d {font-size: 2ex;}
#e {font-size: 2ex;}
#g {font-size: 2ex;}
#i {font-size: 2ex;}
#k {font-size: 2ex;}
#o {font-size: 2ex;}
#m {font-size: 2ex;}
#l {font-size: 2ex;}
#n {font-size: 2ex;}
#p {font-size: 2ex;}





div#header{
	
	padding:0 0 0 0%;
	background: #00ffff;
    color: #000000;
	
}


div#content{
	
	width: 83%;			
	height: 1250px;		
	padding: 0 0 0 2%;
	background: #F3FA78;
	float: right;		
	
}


div#navi{
	
	width: 13%;			
	height: 1250px;		
	padding: 0 0 0 2%;	
	background: #B9CAFF;
	float: left;		
	font-size:2.2ex;
}


div#footer{
	
	padding: 0 0 0 2%;
	background:#2ABBBB;	
	clear: both;		
}